
section {
    margin: 0 auto;
  }
  h1 {
    font-weight: normal;
    font-size: 2.4em;
    margin-bottom: 0;
  }
  a {
    color: gold;
  }
  g.bubble:hover {
    stroke: #a86b6b;
    opacity: 1;
    stroke-width: 1;
    /* shape-rendering: crispEdges; */
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


.bubble {
    opacity: 0.7;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}
