.circle{
    cursor: pointer;
    border-radius: 50%;
    width: 100px;
    height:100px;
   
    margin:0 auto;
    text-align:center;
    background-image:radial-gradient(circle,black,#5a5a5a);
    background-repeat:repeat-x;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 80px;
    color:lightgrey;
}

.play{
    margin:0 auto;
}

.listbpm{
    visibility:hidden;
}

.circle1{
    font-size:15px;
    

}

.circle2{
   width:140px;
   height:140px;
   font-size:20px;
   line-height: 120px;
    
}

.circle3{
  width:180px;
  height:180px;
  font-size: 30px;
  line-height: 180px;
   
}

.circle4{
    width:220px;
    height: 220px;
    font-size:40px;
    line-height: 220px;
    
}

.circle:hover{
   
   border: 7px solid #5a5a5a; 
}