{% extends "index.html"%}
{% block body %}


<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="./static/css/home.css">
<link rel="stylesheet" type="text/css" href="./static/css/main.css">
<link rel="stylesheet" type="text/css" href="./static/css/carousel.css">
<script src="http://cdn-files.deezer.com/js/min/dz.js"></script>
<div id="dz-root"></div>


    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-left" href="#"><img src="/static/img/nav_logo.jpg" alt="Deezer's Logo" height="50" width="200"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a onclick="logout()" href="#" data-target="#myModal" data-toggle="modal">Logout</a></li>
               </ul> 
            </div>
          </div>
        </nav>
        <!-- <div class="container">
          <div class="next">Next</div>
            <div class="prev">Prev</div>
        </div> -->
      </div>
        <div> <h1 style="text-align: center; padding-left: 30px;">Top Tracks</h1>
        </div>

      </div>
      </div>




<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Notice</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to Log out?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="javascript:window.location.href='/'" data-dismiss="modal">Log me out</button>
        <button type="button" class="btn btn-default"  data-dismiss="modal">Dismiss</button>

      </div>
    </div>
  </div>
</div>
     


  
  <!-- Carousel
    ================================================== -->
<div class="container">
  <div class="row">
    <div class="col-lg-2 btnPrev btn arrow"> &lt;  </div>
      <div class="col-lg-8">
        <div class="container1">
          <div class="carousel">
            <div id="pic0" class="item a"></div>
            <div id="pic1" class="item b"></div>
            <div id="pic2" class="item c"></div>
            <div id="pic3" class="item d"></div>
            <div id="pic4" class="item e"></div>
            <div id="pic5" class="item f"></div>
          </div>  
        </div>
      </div>  
    <div class="col-lg-2 btnNext btn arrow" > &gt;	 </div>    
  </div>
</div>
    <!-- /.carousel -->


<div class="container">

    <div class="BPM_container"><h1>BPM </h1>
    <hr>
    </div>
<div class="row">
      <div class="col-lg-3">
      <div class="circle circle1 ">&gt;80 BPM</div>
      <div class="listbpm list1">hehe</div>
      </div>

      <div class="col-lg-3">    
      <div class="circle circle2 ">&gt;100 BPM</div>
      <div class="listbpm list2">hehe</div>
      </div>

      <div class="col-lg-3">
      <div class="circle circle3 ">&gt;120 BPM</div>
      <div class="listbpm list3">hehe</div>
      </div>

      <div class="col-lg-3">
      <div class="circle circle4 ">&gt;140 BPM</div>
      <div class="listbpm list4">hehe <ul>
        <li>Hello</li> 
        <li>Hello</li> 
      </ul></div>
      </div>
  </div>
      <div class="row">
          <div class="col-lg-3">
         
          </div>
    
          <div class="col-lg-3">    
          
          </div>
    
          <div class="col-lg-3">
          
          </div>
    
          <div class="col-lg-3">
          
          </div>
  </div>         

    
</div>
<div class="container"><h1>3D_Graph</h1><hr></div>

<!-- TODO playlist generation -->
<div class="container" style="height:350px;"><h1>Your Playlist</h1>
  <hr>
<div class="row">
<div class="col-lg-4">
</div>
<div class="col-lg-4">
  <div id="play"></div>
</div>

  <div class="col-lg-4">
  </div>
</div>
  <!-- <iframe scrolling="no" frameborder="0" allowTransparency="true" src="https://www.deezer.com/plugins/player?format=classic&autoplay=false&playlist=true&width=700&height=350&color=007FEB&layout=dark&size=medium&type=playlist&id=30595446&app_id=1" width="300" height="180"></iframe> -->
</div>



 

<script src= "https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="./static/js/carousel.js"></script>
    <script src="./static/js/main.js"></script>
    <script
    src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
    integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
    crossorigin="anonymous"></script>



{% endblock %}